{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un projet</title>
</head>
<body>
    <div class="body d-flex py-lg-3 py-md-2">
        <div class="container-xxl">
            <div class="row">
                <div class="col-md-12">
                    <div class="card border-0 mb-4 no-bg">
                        <div class="card-header py-3 px-0  align-items-center  justify-content-between border-bottom">
                            <h3 class=" fw-bold flex-fill mb-3" style="border-bottom: 4px solid red; ">Teachers</h3>
                            <h4 class="fw-bold flex-fill mb-3" style="text-align: center; " >Ajouter un Projet</h4>
                            <a href="{% url 'liste_projet' %}" style="width: 250px; margin-left:900px;margin-bottom:5px" class="btn btn-info"><strong style="font-size: 20px; ">Listes Projets</a>
                            <p class="alert alert-success">{{ message }}</p> 
                            <form method="post"   enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="col-12">
                                    <div class="mb-2">
                                    {{ form.as_p }}
                                    </div>
                                </div>    
                                <button type="submit" class="btn btn-info">Enregistrer</button>
                            </form>
                       </div>  
                    </div> 
                </div> 
            </div> 
        </div> 
    </div>                       
</body>
</html>


{% endblock %}